Repository ConSeat/backend, pull requests merged in 2025-03, with the labels that each got.

#29 test : 콘서트장 정보 조회 테스트 작성
  concertseat/src/test/java/site/concertseat/domain/stadium/controller/StadiumControllerTest.java
  concertseat/src/test/resources/sql/data.sql
Labels: ✅ test

#31 feat : 로그인 및 로그아웃 기능 구현
  concertseat/src/main/java/site/concertseat/global/jwt/controller/AuthController.java
  concertseat/src/main/java/site/concertseat/global/jwt/dto/LoginDto.java
  concertseat/src/main/java/site/concertseat/global/jwt/filter/JwtAuthenticationFilter.java
  concertseat/src/main/java/site/concertseat/global/jwt/service/JwtUtils.java
  concertseat/src/main/java/site/concertseat/global/oauth/Oauth2SuccessHandler.java
  concertseat/src/main/java/site/concertseat/global/util/CookieUtils.java
Labels: ✨ feat

#35 test : 리뷰 등록 테스트 작성
  concertseat/src/main/java/site/concertseat/domain/review/controller/ReviewController.java
  concertseat/src/main/java/site/concertseat/domain/review/dto/ReviewPostReq.java
  concertseat/src/main/java/site/concertseat/global/exception/GlobalExceptionHandler.java
  concertseat/src/main/java/site/concertseat/global/statuscode/ErrorCode.java
  concertseat/src/test/java/site/concertseat/domain/review/controller/ReviewControllerTest.java
  concertseat/src/test/java/site/concertseat/domain/stadium/controller/StadiumControllerTest.java
Labels: 📝 chore, ✨ feat, ✅ test
